@model ChiaSeCode_TTV.Models.NguoiDung

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<link href="~/Content/Text.css" rel="stylesheet" />
<h1 style="text-align: center; color: red;">Đăng Ký Thành Viên TTVCODE.COM</h1>
<div style="margin-left: 500px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

       
            
                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.TaiKhoan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class=text>@Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })</div>
                        <div class="chinh">@Html.ValidationMessageFor(model => model.TaiKhoan, "", new { @class = "text-danger" })</div>

                    </div>
                    <span id="txtTaiKhoan"></span>
                </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TenNguoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenNguoiDung, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gmail, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="nut" type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
      
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>





